



        <div id="barra-lateral">

                <div class="nav-text">
                    <div class="inicio">
                            <a class="text-decoration" href="/">Inicio</a> 
                    </div>
                
                    <div class="generos">
                            <a class="text-decoration" href="/generos">Generos</a> 
                    </div>
                
                    <div class="galeria">
                            <a class="text-decoration" href="/galeria">Galeria</a> 
                    </div>
                {{#unless loggedUser}}
                    <div class="ingresa">
                            <a class="text-decoration" href="/login">Ingresa</a> 
                    </div>
            
                    <div class="registro">
                            <a class="text-decoration" href="/signup">Registro</a> 
                    </div>
                {{/unless}}
                    <div class="contacto">
                            <a class="text-decoration" href="/contacto">Contacto</a> 
                    </div>
            
                    <div class="nosotros">
                        <a class="text-decoration" href="/nosotros">Nosotros</a> 
                    </div>
            
                </div>
                <img src="https://i.imgur.com/ytDtupJ.png" alt=""> 
     </div>


     <section class="hero is-fullheight">
            <div class="">
                <div class="container has-text-centered">
                    <div class="column is-4 is-offset-4">
                        <div class="box ">
                            <figure class="avatar image is-5by4">
                                <img src="{{photoURL}}" alt="profile picture" id="photo">
                            </figure>
                            <br>
                            <br>
                            <form>                             
                                <button class="button is-block is-info is-large is-fullwidth">
                                  <a href="/edit/{{_id}}">Edit profile</a>
                                </button>
                            </form>
                            <br>
                            <form>                             
                                <button class="button is-block is-info is-large is-fullwidth">
                                  <a href="/login">Logout</a>
                                </button>
                            </form>
                            <br>
                            </div>
                       
                    </div>

                    <div class="column is-2 is-offset-5">
                            <form>                             
                                    <button class="button is-info is-large is-">
                                      <a href="/create_new">Crear nota ♪</a>
                                    </button>
                                </form>
                
                            </div>
                    
                </div>
            </div>

            
        </section>

<!--
        
<div>
  <h2>Notas ♫</h2>
  <div class="noteCards">
    {{#each notas}}
    <h2>Nombre: {{nombreGrupal}}</h2>
    <img src="{{photo}}" alt="photo">
    <p>Descripcion:</p>
    <p>{{body}}</p>
    <span>Genero musical: {{generoMusical}}</span> <br>
     <span>Tipo de evento: {{TipoEvento}}</span>  <br>
     <span>Costo: {{CostoMXN}}</span> <br>
     <span>Telefono: {{Telefono}}</span>
    </p>
    {{/each}}
  </div>
</div>
-->


        {{#each notas}}
<div class="main-card-div">
    <div class="card-fix column is-one-third">
                    <div class="card large">
                        <div class="card-image">
                            <figure class="image">
                                <img src="{{photo}}" alt="photo">
                            </figure>
                        </div>

                        <div class="card-content">
                            <div class="media">
                                <div class="media-left">
                                    
                                </div>
                                <div class="media-content">
                                    <p class="title is-4 no-padding">Nombre: {{nombreGrupal}}</p>
                                    <p class="title is-6">Genero Musical: {{generoMusical}}</p>
                                    <p class="subtitle is-6">Tipo de Evento: {{TipoEvento}}</p>
                                    <p class="subtitle is-6">Costo: {{CostoMXN}}</p>
                                    <p class="subtitle is-6">Telefono: {{Telefono}}</p>
                                </div>
                            </div>
                            <div class="content">
                                <p>Descripcion:</p>
                                {{body}}
                                <div class="background-icon"><span class="icon-facebook"></span></div>
                            </div>
                        </div>

                    </div>
                </div>
</div>
            {{/each}}




                

<script>

  document.getElementById('photo').addEventListener('click', () => {
    window.location.href = "/edit_image"
  })


</script>
