<nav class="navbar is-fixed-top">
        <div class="container">
            <div class="navbar-brand">
               
                <span class="navbar-burger burger" data-target="navbarMenu">
                        <span></span>
                <span></span>
                <span></span>
                </span>
            </div>
            <div id="navbarMenu" class="navbar-menu">
                <div class="navbar-end">
                    <a class="navbar-item is-active"  href="/generos?genre=Mariachi">
                            Mariachi
                        </a>
                    <a class="navbar-item"  href="/generos?genre=Norteña">
                            Norteño
                        </a>
                    <a class="navbar-item"  href="/generos?genre=Sonidero">
                            Sonidero
                        </a>
                    <a class="navbar-item"  href="/generos?genre=Rock">
                            Rock
                        </a>
                    <a class="navbar-item"  href="/generos?genre=Pop">
                            Pop
                        </a>
                    <a class="navbar-item"  href="/generos?genre=Clasica">
                            Clasica
                        </a>
                   
                </div>
            </div>
        </div>
    </nav>

    <br>
    <br>
    <br>


<div class="center-form">
  {{#each notas}}
<div class="main-card-div2">
    <div class="card-fix column is-one-third">
                    <div class="card large">
                        <div class="card-image">
                            <figure class="image">
                                <img src="{{photo}}" alt="photo">
                            </figure>
                        </div>

                        <div class="card-content">
                            <div class="media">
                                <div class="media-left">
                                    
                                </div>
                                <div class="media-content">
                                    <p class="title is-4 no-padding">Nombre: {{nombreGrupal}}</p>
                                    <p class="title is-6">Genero Musical: {{generoMusical}}</p>
                                    <p class="subtitle is-6">Tipo de Evento: {{TipoEvento}}</p>
                                    <p class="subtitle is-6">Costo: {{CostoMXN}}</p>
                                    <p class="subtitle is-6">Telefono: {{Telefono}}</p>
                                </div>
                            </div>
                            <div class="content">
                                <p>Descripcion:</p>
                                {{body}}
                                <div class="background-icon"><span class="icon-facebook"></span></div>
                            </div>
                        </div>

                    </div>
                </div>
</div>
            {{/each}}
</div>

<div class="space">

</div>