<div id="barra-lateral">

                <div class="nav-text">
                    <div class="inicio">
                            <a class="text-decoration" href="/">Inicio</a> 
                    </div>
                
                    <div class="generos">
                            <a class="text-decoration" href="/generos">Generos</a> 
                    </div>
                
                    <div class="galeria">
                            <a class="text-decoration" href="/galeria">Galeria</a> 
                    </div>
            
                    <div class="ingresa">
                            <a class="text-decoration" href="/login">Ingresa</a> 
                    </div>
            
                    <div class="registro">
                            <a class="text-decoration" href="/signup">Registro</a> 
                    </div>
            
                    <div class="contacto">
                            <a class="text-decoration" href="/contacto">Contacto</a> 
                    </div>
            
                    <div class="nosotros">
                        <a class="text-decoration" href="/nosotros">Nosotros</a> 
                    </div>
            
                </div>
                <img src="https://i.imgur.com/ytDtupJ.png" alt=""> 
     </div>

<h1>GENEROS</h1>
  
<ul>
  <a href="/generos?genre=Rock"><li>Rock</li></a>
  <a href="/generos?genre=Pop"><li>Pop</li></a>
  <a href="/generos?genre=Sonidero"><li>Sonidero</li></a>
  <a href="/generos?genre=Mariachi"><li>Mariachi</li></a>
  <a href="/generos?genre=Clasica"><li>Clasica</li></a>
  <a href="/generos?genre=Norteña"><li>Norteña</li></a>
</ul>


{{#each notas}}
  <div class="notasGenre">
    <p>{{this.nombreGrupal}}</p>
    <p> <img src="{{this.photo}}" alt=""></p>
    <p>{{this.body}}</p>
    <p>{{this.generoMusical}}</p>
    <p>{{this.TipoEvento}}</p>
    <p>{{this.Telefono}}</p>
    <p>{{this.CostoMXN}}</p>
  </div>
{{/each}}

